.main{
    // position: absolute;
   height:50%;
   overflow-y: scroll;
   
}
.fc-event-inner {
    font-size:small;    
    font-weight:normal;
    font-family:'Segoe UI';
    
    }

    .fc-title{
        font-size: medium;
    }

// .fc-datagrid-cell-frame {height: 75px !important}
// .fc-timeline-lane-frame {height: 75px !important}

