<div class="row" >
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addNew()"><i class="fa-solid fa-plus"></i>&nbsp;</button>
        <button class="btn btn-warning" (click)="deleteRows()"><i class="fa-solid fa-trash"></i></button>
      </div>
      
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="input-group flex-nowrap"  >
          <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Search</span>
          <input type="search" class="form-control"  [(ngModel)]="searchTerm"  aria-label="BranchName" aria-describedby="addon-wrapping">
          <button type="button" class="btn button"></button>
        </div>
      </div>     
    </div>
  </div>
</div>
  
<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLable"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLable"><span style="font-size: 25px;font-weight: 500;">Add Branch</span></p>        
        <button type="button" class="btn btn-close" id="closeModal" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="close" style="position: absolute; right:0;margin-right: 2px;"></button>      
      </div>
      <div class="modal-body">
        <div class="card">
          <form class="form-control" [formGroup]="branchFormGroup" (ngSubmit)="saveBranch()">
            <div class="row">
              <div class="col-6">
                <div class="input-group flex-nowrap" [class.error]="isSubmit && branchFormGroup.hasError('required','name')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Name</span>
                  <input type="text" class="form-control" formControlName="name"  placeholder="BranchName" aria-label="BranchName" aria-describedby="addon-wrapping">                  
                  <small class="text-danger small" *ngIf="isSubmit && branchFormGroup.hasError('required','name')">*First Name is Required</small>
                </div>
                <br>                
                <div class="input-group flex-nowrap" [class.error]="isSubmit && branchFormGroup.hasError('required','openingTime')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Open Time</span>
                  <input type="time" class="form-control" formControlName="openingTime"  placeholder="OpeningTime" aria-label="BranchName" aria-describedby="addon-wrapping">                  
                  <small class="text-danger small" *ngIf="isSubmit && branchFormGroup.hasError('required','openingTime')">*Opening Time is Required</small>
                </div>
                <br>
                <div class="input-group flex-nowrap" [class.error]="isSubmit && branchFormGroup.hasError('required','closingTime')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Close Time</span>
                  <input type="time" class="form-control" formControlName="closingTime"  placeholder="Closing Time" aria-label="BranchName" aria-describedby="addon-wrapping">                  
                  <small class="text-danger small" *ngIf="isSubmit && branchFormGroup.hasError('required','closingTime')">*Close Time is Required</small>
                </div>
                <br>
              </div>
              <div class="col-6">
                <div class="input-group flex-nowrap" [class.error]="isSubmit && branchFormGroup.hasError('required','countryId')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Country</span>
                  <!-- <label class="label" for="Country"></label> -->
                  <select class="form-control" formControlName="countryId" >
                    <option selected disabled>Select Country</option>
                    <option  [value]="ctry.id"  *ngFor="let ctry of countryDto" >{{ctry.name}}</option>
                  </select>
                          
                </div>
                <small class="text-danger small" *ngIf="isSubmit && branchFormGroup.hasError('required','countryId')">*Country is Required</small>
                <br>
                <div class="input-group flex-nowrap" [class.error]="isSubmit && branchFormGroup.hasError('required','companyId')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Company</span>
                  <!-- <label class="label" for="Country"></label> -->
                  <select class="form-control" formControlName="companyId">
                    <option selected disabled>Select Company</option>
                    <option  [value]="com.id"  *ngFor="let com of companyDto" >{{com.name}}</option>
                  </select>
                  
                </div>
                <small class="text-danger small" *ngIf="isSubmit && branchFormGroup.hasError('required','companyId')">*Company is Required</small>
                <br>
             
                <br>
              </div>
            </div>
            <div class="row div-back">
              <div class="col-6">
                <div class="example-button-container">
                  <div class="form-check">
                    <input class="form-check-input input" type="checkbox" formControlName="isActive"  id="flexCheckChecked" [checked]="isChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Active
                    </label>
                  </div>
              </div>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" *ngIf="!isModify" class="btn btn-primary " (click)="saveBranch()">Save</button>&nbsp;
                <!-- <button type="button" *ngIf="!isModify" class="btn btn-danger " id="closeModal" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="close()">Close</button>&nbsp; -->
                <button type="button"  *ngIf="isModify" class="btn btn-warning " (click)="modifyBranch()">Modify</button>&nbsp;
                <button type="button" *ngIf="isModify" class="btn btn-danger " (click)="Cancel()">Cancel</button>
              </div>

            
          </form>
         </div>
      </div>
    
    </div>

  </div>

</div>
<div class="card" style="height: 25px; border:0;background-color: #e4f2f1;;"></div>
    
<div class="card" style="border:0;height:100%">
  <div class="card-body div-table">
    <div class="alert alert-info" *ngIf="searchDto.length==0">
      No Records Found!!!
    </div>
    <div class="table-responsive">
       <table class="table table-hover table-sm" *ngIf="searchDto.length>0">
         <thead class="table-primary">
           <tr>
            <th><input type="checkbox" id="countryCheck" name="countryCheck" (change)="check($event)" [checked]="isCheckedMap"></th>
             <th>#</th>
             <th>Branch</th>
             <th>Company</th>
             <th>Open Time</th>
             <th>Close Time</th>
             <!-- <th>Active</th> -->
             <th></th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let row of branchPageDto | filter:searchTerm; let i = index" [ngClass]="!row.isActive?'table-danger':''">
            <td><input type="checkbox" id="countryCheck" name="countryCheck" [checked]="isCheckedMap"></td>
             <td>{{i+1}}</td>
             <td>{{row.name}}</td>
             <td>{{row.company.name}}</td>
             <td>{{row.openingTime | date:"HH:mm a"}}</td>
             <td>{{row.closingTime | date:"HH:mm a"}}</td>
             
             <td class="text-end">
               <button type="button" class="btn btn-info text-white btn-circle" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getRecords(row)"><i class="fa-solid fa-user-pen"></i></button>
               &nbsp;<button type="button" class="btn btn-danger btn-circle" (click)="deleteBranch(row)"><i class="fa-solid fa-trash"></i></button>
           </tr>
         </tbody>
       </table>
       </div>
  </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination  [collectionSize]="branchDto.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshPages()">           
    </ngb-pagination>
    <select class="form-select" style="width:auto;" [(ngModel)]="pageSize" (ngModelChange)="refreshPages()" >
      <option [ngValue]="5">5 records per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="25">25 items per page</option>
    </select>
  </div>
  
  


       <!-- <div class="card" *ngIf="isSearch">
        <div class="alert alert-info" *ngIf="searchDto.length==0">
          No Records Found!!!
        </div>
        <div class="table-responsive div-table">
           <table class="table table-hover table-sm" *ngIf="searchDto.length>0">
             <thead class="table-dark">
               <tr>
                 <th>#</th>
                 <th>Branch</th>
                 <th>Country</th>

                 <th></th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let row of searchDto; let i = index" [ngClass]="!row.isActive?'table-danger':''">
                 <td>{{i+1}}</td>
                 <td>{{row.name}}</td>
                 <td>{{row.country.name}}</td>
                 <td>
                   <button type="button" class="btn btn-success btn-circle" (click)="getRecords(row)"><i class="fa-solid fa-user-pen"></i></button>
                   &nbsp;<button type="button" class="btn btn-danger btn-circle" (click)="deleteBranch(row)"><i class="fa-solid fa-trash"></i></button>
               </tr>
             </tbody>
           </table>
           </div>
       </div> -->










