<!-- <button class="btn btn-primary">click me</button> -->
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border">
          <!-- <div class="panel heading"> -->
            <h3 class="pt-3 font-weight-bold"  style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Login</h3>
            <div class="panel-body p-3">
              <form [formGroup]="loginFormGroup">
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="loginFormGroup.controls['username'].dirty && loginFormGroup.hasError('required','username')">
                        <span class="fa fa-user p-2"></span>
                          <input id="username" type="text" formControlName="username" placeholder="username">
                          
                    </div>
                   
                </div>
                <small *ngIf="loginFormGroup.controls['username'].dirty && loginFormGroup.hasError('required','username')" class="text-danger">*Username is Required</small>
                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="loginFormGroup.controls['password'].dirty && loginFormGroup.hasError('required','password')">
                      <span class="fa fa-lock p-2"></span>
                      <input [type]="password" formControlName="password" placeholder="password">

                        <span *ngIf="!show" (click)="onClick()">
                          <i class="fa-regular fa-eye" ></i>
                        </span>
                        <span *ngIf="show" (click)="onClick()">
                          <i  class="fa-regular fa-eye-slash" ></i>
                        </span>
              </div>

              </div>
                <!-- <span id="password" class="fa {{eyeIcon}}" (click)="hideShowPass()"></span> -->
                      <!-- <div class="icon-wrapper" (click)="hideShowPass()">
                       <span [ngClass]=""></span>
                      </div> -->
                      <!-- <div class="input-group-append">
                        <span class="input-group-text"> -->

                            <!-- <i  (click)="showPassword()" class="fa-solid" [ngClass]="{'fa-solid fa-eye-slash':!fieldTextType,'fa-solid fa-eye':fieldTextType}"></i> -->

                        <!-- </span>
                     </div> -->

              <!-- <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginFormGroup.controls['password'].dirty && loginFormGroup.hasError('required','password')">
                  <span class="fa-solid fa-house"></span>
                    <select class="form-control" formControlName="branchId"  >
                      <option selected disabled>Select Branch</option>
                      <option  [value]="branch.id"  *ngFor="let branch of branchDto">{{branch.name}}</option>
                    </select>
               </div>
            </div> -->
              <small *ngIf="loginFormGroup.controls['password'].dirty && loginFormGroup.hasError('required','password')" class="text-danger">*Password is Required</small>
              <div class="form-inline fr mt-4 text-end">
                <a id="forget" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold">Forget Password?</a>
              </div>
              <button (click)="onLogin()" type="submit" class="btn btn-primary mt-4 w-100">Login</button>
                <div class="text-center pt-4 text-muted">Dont have account?<a id="forget" routerLink="/signup">sign up</a></div>

              </form>
            </div>
            <div class="mx-3 my-2 py-2 bordert">
              <div class="text-center py-3">
                <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://www.freeiconspng.com/thumbs/facebook-icon-png/facebook-icon--basic-round-social-iconset--s-icons-7.png"></a>
                <a href="https://www.google.com" target="_blank" class="px-2"><img src="https://w7.pngwing.com/pngs/543/934/png-transparent-google-app-logo-google-logo-g-suite-google-text-logo-circle.png"></a>
                <a href="https://www.github.com" target="_blank" class="px-2"><img src="https://www.pngmart.com/files/23/Github-Logo-PNG.png"></a>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLable"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLable"><span style="font-size: 25px;font-weight: 500;">Forget Password?</span></p>


        <small>Please provide your email will send reset link to your email</small>
        <!-- <button type="button" class="button-close" data-bs-dismiss="modal" aria-label="close"></button> -->
      </div>
      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="input-field"><span class="fa fa-user p2"></span><input [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="text" placeholder="email"></div>
        </div>
        <small *ngIf="!resetPasswordEmail" class="text-danger">*Email is required*</small>
        <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*Email is Invalid*</small>
      </div>
      <div class="modal-footer">
        <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="confirmToSend()" class="btn btn-secondary">Send</button>
      </div>
    </div>

  </div>

</div>
