.back{
    
    background-color: #e4f2f1;
    border-radius: 0;
    
    
  }
  .btn-circle {
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    border-radius:60px;
    font-size: 10px;
    text-align: center;
  }