<div class="row" >
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addNew()"><i class="fa-solid fa-plus"></i>&nbsp;</button>
        <button class="btn btn-warning" (click)="deleteRows()"><i class="fa-solid fa-trash"></i></button>
      </div>
      
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="input-group flex-nowrap"  >
          <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Search</span>
          <input type="search" class="form-control"  [(ngModel)]="searchTerm"  aria-label="BranchName" aria-describedby="addon-wrapping">
          <button class="btn button"></button>
        </div>
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLable"  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLable"><span style="font-size: 25px;font-weight: 500;">Add Users</span></p>  
        <button type="button" class="btn btn-close" id="closeModal" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="close" style="position: absolute; right:0;margin-right: 2px;"></button>                        
        <!-- <button type="button" class="button-close" data-bs-dismiss="modal" aria-label="close"></button> -->
      </div>
      <div class="modal-body">
        <form class="form-control" [formGroup]="userFormGroup" (submit)="saveUser()">
        <div class="row">
          <div class="col-6">
            <div class="card" style="height: 10px; border:0"></div>
            <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','firstName')">
              <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">First Name</span>
              <input type="text" class="form-control" formControlName="firstName"  placeholder="firstName" aria-label="firstName" aria-describedby="addon-wrapping">
              <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','firstName')">*Gender is Required</small> 

              <div class="btn-group" role="group" aria-label="Basic radio toggle button group" [class.error]="onSubmit && userFormGroup.hasError('required','gender')" >              
                <input type="radio" class="btn-check" formControlName="gender" name="gender" id="btnmale" autocomplete="off"  value="Male" (change)="onGenderChange($event)">
                <label class="btn btn-outline-primary btn-sm" for="btnmale">Male</label>              
                <input type="radio" class="btn-check" formControlName="gender" name="gender" id="btnfemale"  value="Female" autocomplete="off" (change)="onGenderChange($event)">
                <label class="btn btn-outline-primary btn-sm" for="btnfemale">Female</label>   
                                         
              </div>
              
              <br>
            </div>
            <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','firstName')">*First Name is Required</small> 
           
            <br>
            <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','address')">
              <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color:rgb(212, 210, 210);">Address</span>
              <input type="text" class="form-control" formControlName="address"   placeholder="address" aria-label="address" aria-describedby="addon-wrapping">
              
            </div>
            <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','address')">*Address is Required</small>
          
            <br>
            <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','phone')">
              <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color:rgb(212, 210, 210);">Phone</span>
              <input type="text" class="form-control" formControlName="phone"   placeholder="phone" aria-label="phone" aria-describedby="addon-wrapping">
              
            </div>
            <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','phone')">*Address is Required</small>
          
            <br>
            
              <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','username')">
                <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Username</span>
                <input type="text" class="form-control" formControlName="username"  placeholder="Username" aria-label="City" aria-describedby="addon-wrapping">
                
              </div>
              <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','username')">*Username is Required</small>
                <br>
                <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','roleId')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Role</span>
                  <!-- <label class="label" for="Country"></label> -->
                  <select class="form-control" formControlName="roleId"  placeholder="Select Role">
                    <option selected disabled>Select Role</option>
                    <option [value]="row.id" *ngFor="let row of roleDto; let i=index">{{row.name}}</option>                  
                  </select>                        
                </div>                
                <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','roleId')">*Role is Required</small>
                <br>
          </div>
          <div class="col-6">           
          
            <div class="card" style="height: 10px; border:0"></div>        
                <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','lastName')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px; background-color: rgb(212, 210, 210);">Last Name</span>
                  <input type="text" class="form-control" formControlName="lastName"   placeholder="lastName" aria-label="lastName" aria-describedby="addon-wrapping">
                  
              </div>
              <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','lastName')">*Last Name is Required</small>
              <br>
              <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','city')">
                <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color:rgb(212, 210, 210);">City</span>
                <input type="text" class="form-control" formControlName="city"   placeholder="city" aria-label="city" aria-describedby="addon-wrapping">
                
              </div>
              <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','address')">*City is Required</small>
            
              <br>
              <!-- <div class="card" style="height: 10px; border:0"></div> -->
                <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','email')">
                  <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color:rgb(212, 210, 210);">Email</span>
                  <input type="text" class="form-control" formControlName="email"   placeholder="Email" aria-label="Phone" aria-describedby="addon-wrapping">
                  
                </div>
                <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','email')">*Email is Required</small>
              
                <br>
              
              <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','password')">
                <span class="input-group-text" id="addon-wrapping" style="width: 100px;background-color: rgb(212, 210, 210);">Password</span>
                <input type="password" class="form-control" formControlName="password"  placeholder="Password" aria-label="City" aria-describedby="addon-wrapping">
                
              </div>
              <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','password')">*Password is Required</small>
              
              <br>
       
              <div class="card" style="height: 10px; border:0"></div>
              
          </div>
          
          <div class="input-group flex-nowrap">
            
            <div class="input-group flex-nowrap" [class.error]="onSubmit && userFormGroup.hasError('required','userBranches')">
              <span class="input-group-text" id="addon-wrapping" style="width:100px;background-color: rgb(212, 210, 210);">Branch</span>&nbsp;                          
             
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" *ngFor="let row of branchListDto; let i=index">
                  <input type="checkbox" class="btn-check" id="btncheck1{{row.id}}" autocomplete="off" [checked]="row.checked" (change)="onChange($event,row)">&nbsp;
                  <label class="btn btn-outline-primary" for="btncheck1{{row.id}}">{{row.name}}</label>      
                </div>
              <small class="text-danger small" *ngIf="onSubmit && userFormGroup.hasError('required','userBranches')">*Password is Required</small>
            </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" *ngIf="!isModify" class="btn btn-primary " (click)="saveUser()">Save</button>&nbsp;
                <button type="button" *ngIf="!isModify" class="btn btn-danger " id="closeModal" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Close()">Close</button>&nbsp;
                <button type="button"  *ngIf="isModify" class="btn btn-warning " (click)="modifyUser()">Modify</button>&nbsp;
                <button type="button" *ngIf="isModify" class="btn btn-danger " (click)="cancel()">Cancel</button>
            </div>
          </div>        
        </form>


        
             </div>
          </div>
         
        </div>        
      </div>
     



<div class="card" style="height: 25px; border:0;background-color: #e4f2f1;;"></div>

  <div class="card" style="height: 650px; border:0">
  <div class="card-body div-table">
    <div class="alert alert-info" *ngIf="userDto.length==0" style="height:5px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-small;">
      No Records Found!!!
    </div>
    <div class="table-responsive">
     <table class="table table-hover table-sm" *ngIf="userDto.length>0" >
      <thead class="table-primary">
        <tr>
          <th><input type="checkbox" id="countryCheck" name="countryCheck" (change)="check($event)" [checked]="isCheckedMap"></th>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone</th>
          <th>Email</th>
          <th>UserName</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of userPageDto | filter:searchTerm; let i = index" [ngClass]="row.isDeleted? 'table-danger':''">
          <td><input type="checkbox" id="countryCheck" name="countryCheck" [checked]="isCheckedMap"></td>
          <td>{{i+1}}</td>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.gender}}</td>
          <td>{{row.address}}</td>
          <td>{{row.city}}</td>
          <td>{{row.phone}}</td>
          <td>{{row.email}}</td>
          <td>{{row.username}}</td>
          <td>{{row.role.name}}</td>
          <!-- <td>{{row.role.name}}</td> -->
  
          <td class="text-end">
            <button type="button" class="btn btn-info text-white btn-circle" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getRecords(row)"><i class="fa-solid fa-user-pen"></i></button>
            &nbsp;<button type="button" class="btn btn-danger btn-circle" (click)="deleteUser(row)"><i class="fa-solid fa-trash"></i></button>
  
          </td>
  
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination  [collectionSize]="userDto.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshSlots()">           
    </ngb-pagination>
    <select class="form-select" style="width:auto;" [(ngModel)]="pageSize" (ngModelChange)="refreshSlots()" >
      <option [ngValue]="5">5 records per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="25">25 items per page</option>
    </select>
  </div>









